# Ignore everything by default
*
# Allow traversal into these directories
!/cloud_aws_shared/
!/cloud_gcp_shared/
# !/hive/
!/modules/pipe_hdb/
!/modules/pipe_hdb_spark/
!/streamlit


# Allow everything inside them
!/cloud_aws_shared/**
!/cloud_gcp_shared/**
# !/hive/**
!/modules/pipe_hdb/**
!/streamlit/**
!/modules/pipe_hdb_spark/**

# Allow these specific top-level files
!/requirements.txt
!/setup.sh
!/*.sh
!/modules
!/README.md

.DS_Store

# explicit disallows
**/.venv/
**/venv/
**/__pycache__/