# Ignore everything by default
*
!*/

# Allow everything inside them
!/cloud_aws_shared/**
!/cloud_gcp_shared/**
!/modules/pipe_hdb/**
!/modules/pipe_hdb_cli/**
!/modules/pipe_hdb_databricks/**
!/modules/pipe_hdb_minimal/**



!/streamlit/**

# Allow these specific top-level files
!/.dockerignore
!/.gitignore
!/.gcloudignore
!/requirements_dev_commons.txt
!/*.sh
!/.gitattributes
!/README.md

# Re-exclude junk inside the allowed trees
**/__pycache__/
**/.DS_Store
/modules/pipe_hdb/output/