


polars
pandas==2.3.0
# pyspark==3.5.6
# ipython==9.3.0
setuptools==82.0.1
Prefect

# ipykernel==6.29.4
# pdfplumber==0.11.0
# requests==2.31.0
ipython

packaging

# fastexcel
pyarrow
google-cloud-storage
boto3
# keep both inside becasue my runpipeline keeps both too. FOllow this philosphy


# Markdown==3.10.2
# pip-chill==1.0.5
# scikit-learn
# matplotlib
plotly==6.8.0
# tabula-py==2.10.0
# openpyxl
# python-dateutil